<div class='row'>
  <div class='switch-currency text-center col-xs-12'>
    <button class='btn btn-inverse btn-bordered navbar-btn EUR'>
      {{ i18n "prices_in_usd" }}
    </button>
    <button class='btn btn-inverse btn-bordered navbar-btn USD'>
      {{ i18n "prices_in_eur" }}
    </button>
  </div>

  <div class='switch-frequency text-center col-xs-12'>
    <button class='btn btn-inverse btn-bordered navbar-btn y'>
      {{ i18n "pay_monthly" }}
    </button>
    <button class='btn btn-inverse btn-bordered navbar-btn m'>
      {{ i18n "pay_yearly" }}
    </button>
  </div>
</div>
