<section class='section' id='team'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 text-center'>
        <div class='title-box'>
          <p class='title-alt'>{{ i18n "meet_the_team" }}</p>
          <h3 class='fadeIn animated wow' data-wow-delay='.1s'><a href='{{ "/about/vision" | relLangURL }}'>{{ i18n "delivering_podcasts" }}</a></h3>
          <div class='border'></div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>
        <div class='row team text-center'>
          <!-- team-member -->
          <div class='col-sm-4'>
            <div class='team-member animated fadeInDown wow' data-wow-delay='.1s'>
              <img alt='team-member' class='img-responsive img-circle' src='/images/ben.png' width='180'>
              <h4>Ben Zimmer</h4>
              <p class='text-muted'>Executive Director of Podcaster Happiness</p>
              </img>
            </div>
          </div>
          <!-- team-member -->
          <div class='col-sm-4'>
            <div class='team-member animated fadeInDown wow' data-wow-delay='.3s'>
              <img alt='team-member' class='img-responsive img-circle' src='/images/podigee-round.svg' width='180'>
              <h4>Podigee</h4>
              <p class='text-muted'>Full Service Podcast Hosting</p>
              </img>
            </div>
          </div>
          <!-- team-member -->
          <div class='col-sm-4'>
            <div class='team-member animated fadeInDown wow' data-wow-delay='.5s'>
              <img alt='team-member' class='img-responsive img-circle' src='/images/mati.jpg' style='height: 180px; width: 180px;' width='180'>
              <h4>Mati Sojka</h4>
              <p class='text-muted'>Chief Podcast Delivery Officer</p>
              </img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
