<div class='col-md-3'>
  <div class='sidebar'>
    {{ if not (eq .Section "help") }}
    <h4 class='padding-t-b-10 text-bold-6 h4'>
      {{ if eq .Section "blog" }}
        {{ i18n "latest_posts" }}
      {{ end }}
      {{ if eq .Section "changelog" }}
        {{ i18n "latest_entries" }}
      {{ end }}
    </h4>
    <ul class='nav-list'>
      {{ range first 10 (after 1 (where .Site.Pages.ByDate.Reverse "Section" .Section)) }}
      <li>
        <a title="{{ .Title }}" href="{{ .Permalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div>
