{{ $brand := (index .Site.Data.brands ($.Param "brand" | default "hosting")) }}
<footer class='section footer footer-sm'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <a class='navbar-brand logo' href='{{ $brand.homelink | relLangURL }}'>
            <img alt="Podcast Hosting Service Podigee" class="podigee-logo" src="/images/podigee-logo.svg" />
            <span class='text-colored'>
              {{ $brand.name }}
            </span>
          </a>
          <ul class='list-inline social-circle'>
            <li>
              <a href='https://www.facebook.com/podigee'>
                <i class='zmdi zmdi-facebook'></i>
              </a>
            </li>
            <li>
              <a href='https://www.twitter.com/{{ i18n "twitter_profile" }}'>
                <i class='zmdi zmdi-twitter'></i>
              </a>
            </li>
            <li>
              <a href='https://www.instagram.com/{{ i18n "instagram_profile" }}'>
                <i class='zmdi zmdi-instagram'></i>
              </a>
            </li>
            <li>
              <a href='https://github.com/podigee'>
                <i class='zmdi zmdi-github'></i>
              </a>
            </li>
          </ul>
          <div>hello@podigee.com</div>
          <ul class='list-inline menu-list m-t-30'>
            <li>
              <a href='mailto:hello@podigee.com'>{{ i18n "help_and_support" }}</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/tos.en.html" }}'>{{ i18n "terms_and_conditions" }}</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/privacy" }}'>{{ i18n "privacy_policy" }}</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/imprint" }}'>{{ i18n "imprint" }}</a>
            </li>
          </ul>
          <p class='text-muted m-b-0'>© Podigee 2013-{{ now.Year }} All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<a class='back-to-top' href='#'>
  <i class='zmdi zmdi-chevron-up'></i>
</a>
