{{ $brand := (index .Site.Data.brands ($.Param "brand" | default "hosting")) }}
<footer class='section footer footer-sm'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <a class='navbar-brand logo' href='{{ $brand.homelink | relLangURL }}'>
            <img alt="Podcast Hosting Service Podigee" class="podigee-logo" src="https://static.podigee.com/assets/podigee-logo-black-trans-70-329f9e9ccd24ad051b325b7e9b2bb982dc8db4ba2b6c75235c4f590ddef636d2.png" />
            <span class='text-colored'>
              {{ $brand.name }}
            </span>
          </a>
          <ul class='list-inline social-circle'>
            <li>
              <a href='https://www.facebook.com/podigee'>
                <i class='zmdi zmdi-facebook'></i>
              </a>
            </li>
            <li>
              <a href='https://www.twitter.com/podigee'>
                <i class='zmdi zmdi-twitter'></i>
              </a>
            </li>
            <li>
              <a href='https://plus.google.com/+Podigee'>
                <i class='zmdi zmdi-google-plus'></i>
              </a>
            </li>
            <li>
              <a href='https://github.com/podigee'>
                <i class='zmdi zmdi-github'></i>
              </a>
            </li>
          </ul>
          <div>hello@podigee.com</div>
          <ul class='list-inline menu-list m-t-30'>
            <li>
              <a href='mailto:hello@podigee.com'>Help and Support</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/tos.en.html" }}'>Terms and Conditions</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/privacy.en.html" }}'>Privacy Policy</a>
            </li>
            <li>
              <a href='{{ .RelRef "about/imprint.en.html" }}'>Imprint</a>
            </li>
          </ul>
          <p class='text-muted m-b-0'>© Podigee 2013-{{ now.Year }} All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<a class='back-to-top' href='#'>
  <i class='zmdi zmdi-chevron-up'></i>
</a>
