<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ $.Param "title" }} - Podigee Podcast Hosting</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta http-equiv='content-language' content='{{ .Lang }}'>

    <meta content='{{ $.Param "description" }}' name='description'>
    <meta content='{{ $.Param "authors" }}' name='author'>
    <meta content='{{ delimit ($.Param "keywords") "," }}' name='keywords'>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#fa4600">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Podigee">
    <meta name="application-name" content="Podigee">
    <meta name="msapplication-TileColor" content="#fa4600">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta content='{{ $.Param "page_title" }}' property='og:title'>
    <meta content='{{ $.Param "description" }}' property='og:description'>
    <meta content='website' property='og:type'>
    <meta content='{{ .URL | absLangURL }}' property='og:url'>
    <meta content='{{ ($.Param "image" | default "/images/podigee-logo.svg") | absURL }}' property='og:image'>
    <meta content='Podigee' property='og:site_name'>
    <meta content='https://www.facebook.com/podigee' property='article:publisher'>

    <meta content='summary_large_image' name='twitter:card'>
    <meta content='@podigee' name='twitter:site'>
    <meta content='{{ .URL | absLangURL }}' name='twitter:url'>
    <meta content='{{ $.Param "page_title" }}' name='twitter:title'>
    <meta content='{{ $.Param "description" }}' name='twitter:description'>
    <meta content='{{ ($.Param "image" | default "/images/podigee-logo.svg") | absURL }}' name='twitter:image'>

    <meta content='{{ $.Param "page_title" }}' itemprop='name'>
    <meta content='{{ $.Param "description" }}' itemprop='description'>
    <meta content='{{ ($.Param "image" | default "/images/podigee-logo.svg") | absURL }}' itemprop='image'>

    <link rel="stylesheet" media="screen" href="/css/app.css">
    {{ $brand := (index .Site.Data.brands ($.Param "brand" | default "hosting")) }}
    <link href='{{ printf "/css/colors/%s.css" $brand.color }}' rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" />
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />

    <script src="/js/jquery.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/app.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    {{ partial "header" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer" . }}

    <script>
      require('themes/podigee/src/js/initialize');
    </script>
  </body>
</html>
